name: Trigger auto deployment for aca-printenv-app

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/aca-printenv-app-AutoDeployTrigger-11e5bc57-3c2b-427b-980b-e1adf92ff87b.yml'

  # Allow mannually trigger 
  workflow_dispatch:      

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to container registry
        uses: docker/login-action@v1
        with:
          registry: alaacr270.azurecr.io
          username: ${{ secrets.ACAPRINTENVAPP_REGISTRY_USERNAME }}
          password: ${{ secrets.ACAPRINTENVAPP_REGISTRY_PASSWORD }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: alaacr270.azurecr.io/printenv:${{ github.sha }}
          file: ./Dockerfile
          context: ./


  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.ACAPRINTENVAPP_AZURE_CREDENTIALS }}


      - name: Deploy to containerapp
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az config set extension.use_dynamic_install=yes_without_prompt
            az containerapp registry set -n aca-printenv-app -g aca-rg --server alaacr270.azurecr.io --username  ${{ secrets.ACAPRINTENVAPP_REGISTRY_USERNAME }} --password ${{ secrets.ACAPRINTENVAPP_REGISTRY_PASSWORD }}
            az containerapp update -n aca-printenv-app -g aca-rg --image alaacr270.azurecr.io/printenv:${{ github.sha }}
